html body {
  background-color: rgba(46, 193, 139, 1);
  height: 100vh;
}

.login-body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header-login {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding-top: 11.87vh;
}

.header-login h1 {
  display: inline-block;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: 88px;
  letter-spacing: 3px;
  line-height: 49px;
  margin: 0;
  width: 165px;
}

.header-login img {
  width: 83px;
}


.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 219px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  max-width: 380px;
  width: 90%;
}

.form-login input {
  background-color: white;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  color: rgb(93, 100, 98);
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 18px 15px;
  position: relative;
  transition: 100ms;
  width: 100%;
}

.form-login input:first-child {
  top: 0;
}

.form-login input:nth-child( 2 ) {
  top: 0;
}

.form-login input::placeholder {
  color: rgba(143, 172, 162, 1);
  padding: 18px 10px;
  transition: 100ms;
}

.form-login input:focus::placeholder {
  padding: 18px 1px;
}

.form-login input:focus {
  background-color: rgb(248, 248, 248);
  border: none;
  box-shadow: 1px 3px rgb(1, 128, 87);
  outline: none;
}

.form-login input:first-child:focus {
  top: -3px;
}

.form-login input:nth-child( 2 ):focus {
  top: -3px;
}

.form-login button {
  background-color: rgba(48, 91, 208, 1);
  border: none;
  border-radius: 30px;
  box-shadow: 1px 3px rgb(38, 59, 175);
  color: white;
  font-size: 14px;
  font-weight: 700;
  height: 37px;
  padding-right: 70px;
  position: relative;
  top: 0;
  transition: 100ms;
  width: 144px;
}

.form-login button:disabled {
  background-color: rgba(35, 145, 104, 1);
  box-shadow: none;
  color: rgba(143, 172, 162, 1);
  top: 0;
}

.form-login button:hover:enabled {
  background-color: rgb(57, 108, 247);
  box-shadow: none;
  top: 3px;
}

.login-aside img {
  display: none;
}


@media screen and ( min-width : 768px ) {

  html body {
    background-color: rgba(207, 240, 225, 1);
  }

  .login-body {
    height: 100vh;
  }

  .login-main {
    background-color: rgba(46, 193, 139, 1);
    height: 100vh;
    margin-left: auto;
    padding-bottom: 1px;
    width: 42.05%;
  }

  .header-login {
    box-sizing: border-box;
    min-height: 172px;
    padding-top: 27.6vh;
    width: 55%;
  }

  .header-login img {
    max-width: 83px;
  }

  .login-aside img {
    display: initial;
    left: 8.27vmax;
    position: absolute;
    top: 15.36vh;
    width: 35vw;
  }

  .form-login input {
    max-width: 380px;
    width: 90%;
  }

  @media screen and ( max-height : 730px ) {

    .login-main {
      height: 730px;
    }
  }
}
