th {
  display: none;
}

header {
  background-color: rgba(46, 193, 139, 1);
  height: 120px;
  width: 100%;
}

table , tbody {
  display: block;
  margin: 0;
  padding: 0;
}

tbody tr {
  background-color: white;
  border-bottom: solid 2px rgb(146, 146, 146);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  overflow-x: hidden;
  padding: 5px;
  padding-bottom: 5px;
  padding-top: 10px;
  position: relative;
  width: 100%;
}

td {
  display: inline-block;
  font-size: 16px;
  height: 16px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  position: relative;
}

.td-description {
  font-weight: 600;
  height: auto;
  margin-bottom: 10px;
  width: 100%;
}

.td-currency {
  display: none;
}

.td-title-value , .td-title-exchange , .td-title-method {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}

.td-value , .td-exchange-value , .td-method {
  margin-left: 10px;
}

.td-code , .td-converted-code {
  font-size: 12px;
  margin-left: 3px;
  top: 4px;
}

.td-exchange-icon {
  font-size: 20px;
  top: -2px;
}

.td-exchange-code {
  width: 70%;
}

.td-real {
  display: none;
}

.td-tag {
  display: none;
}

td button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  outline: none;
  padding: 0;
}

.wallet-forms input , .wallet-forms select , .wallet-forms button {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px rgb(124, 123, 74);
  box-sizing: border-box;
  height: 25px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.wallet-forms button {
  background-color: rgba(48, 91, 208, 1);
  box-shadow: 1px 3px rgb(38, 59, 175);
  color: white;
  position: relative;
}

.td-buttons {
  display: flex;
  height: 45px;
  left: 68%;
  margin: 0;
  position: absolute;
  right: 0;
  top: 70%;
}

td button:first-child {
  color: rgb(36, 36, 36);
  margin-right: 10px;
  padding: 10px;
}

td button:nth-child( 2 ) {
  color: rgb(173, 1, 1);
  padding: 10px;
}

.wallet-forms button:hover {
  background-color: rgb(57, 108, 247);
  box-shadow: none;
  top: 2px;
}

.edit-forms button:first-child {
  width: 80%;
}

.edit-forms button:nth-child( 2 ) {
  align-content: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: rgb(173, 1, 1);
  font-size: 25px;
  height: 25px;
  padding: 0;
  position: static;
  width: 25px;
}

td button:first-child:hover {
  color: rgb(116, 116, 116);
}

td button:nth-child( 2 ):hover {
  color: rgb(241, 0, 0);
}

/* -----Header----- */
.wallet-header {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-weight: 600;
  justify-content: space-between;
  padding: 10px;
}

.wallet-email-field {
  display: flex;
  justify-content: center;
}

.wallet-email-icon {
  font-size: 30px;
  margin-right: 10px;
}

.wallet-email {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.wallet-header-btn-add {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 45px;
  height: 30px;
  left: 89%;
  order: 2;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 50px;
  width: 30px;
}

.wallet-header-btn-add svg {
  box-sizing: border-box;
  left: -8px;
  position: relative;
  top: -8px;
}

/* ---Forms--- */
.wallet-forms {
  background-color: rgb(218, 218, 218);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px rgb(116, 116, 116);
  margin-bottom: 2px;
  overflow: hidden;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.49, 0.62, 1, 0.07);
}

.edit-forms {
  background-color: rgb(252, 244, 129);
}

.wallet-forms form {
  align-content: center;
  color: rgb(59, 59, 59);
  display: flex;
  flex-flow: column wrap;
  font-size: 18px;
  font-weight: 600;
  height: 340px;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.show-forms {
  height: 350px;
}

.hide-forms {
  height: 0;
  margin: 0;
}

.wallet-forms label {
  height: 50px;
  margin-top: 10px;
  padding: 0;
}

.wallet-forms label:nth-child( 5 ) {
  margin-bottom: 15px;
}

.edit-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.edit-forms button:nth-child( 2 ):hover {
  color: rgb(241, 0, 0);
  padding: 0;
}

.expense-is-editing {
  background-color: rgba(255, 252, 212, 1);
}

@media screen and ( min-width : 359px ) {

  .td-description {
    width: 90%;
  }

  .td-buttons {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-around;
    margin: 0;
    margin-top: -60px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 45px;
  }
}

@media screen and ( min-width : 768px ) {

  th , .td-description , .td-value , .td-currency , .td-converted-value {
    display: table-cell;
    margin: 0;
    width: auto;
  }

  .td-exchange-value , .td-value , .td-method , .td-real , .td-tag {
    display: table-cell;
    margin: 0;
    width: auto;
  }

  .td-title-value , .td-code , .td-exchange-icon , .td-converted-code {
    display: none;
  }

  .td-title-exchange , .td-exchange-code , .td-title-method {
    display: none;
  }
}
