html {
  background-color: rgba(241, 237, 237, 1);
  font-family: Epilogue, sans-serif;
  height: 100vmax;
}

th {
  display: none;
}

header {
  background-color: rgba(46, 193, 139, 1);
  height: 120px;
  width: 100%;
}

form {
  border-bottom: solid 1px black;
}

table , tbody {
  border-top: 1px solid rgb(146, 146, 146);
  display: block;
  margin: 0;
  padding: 0;
}

tbody tr {
  background-color: white;
  border-bottom: solid 2px rgb(146, 146, 146);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  height: 120px;
  padding: 5px;
  width: 100%;
}

tbody tr:hover {
  background-color: rgb(243, 242, 242);
  border-top: solid 2px rgb(146, 146, 146);
  box-shadow: 0 3px rgb(146, 146, 146);
  position: relative;
  top: -5px;
}

td {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.td-description {
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.td-tag {
  display: none;
}

.td-method {
  display: inline-block;
  left: -119px;
  order: 1;
  position: relative;
  top: 10px;
}

.td-method:before {
  content: 'Método: ';
  font-weight: 600;
}

.td-currency {
  display: none;
}

.td-value {
  position: relative;
  top: -10px;
}

.td-value:before {
  content: 'Valor: ';
  font-weight: 600;
  position: relative;
  top: -1px;
}

.td-code {
  font-size: 12px;
  left: 2px;
  position: relative;
  top: -6px;
}

.td-exchange-value {
  font-size: 16px;
  position: relative;
  top: -20px;
}

.td-exchange-value:before {
  content: 'Cambio: ';
  font-weight: 600;
}

.td-exchange-value:after {
  content: ' BRL';
  font-size: 12px;
}

.td-converted-value {
  left: 4px;
  position: relative;
  top: -10px;
  width: 50%;
}

.td-converted-value:after {
  content: ' BRL';
  font-size: 12px;
}

.td-exchange-icon {
  font-size: 20px;
  left: 3px;
  position: relative;
  top: -12px;
}

.td-real {
  display: none;
}

td button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  outline: none;
  padding: 0;
  position: relative;
}

.wallet-forms input , .wallet-forms select , .wallet-forms button {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px rgb(124, 123, 74);
  box-sizing: border-box;
  height: 25px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.wallet-forms button {
  background-color: rgba(48, 91, 208, 1);
  box-shadow: 1px 3px rgb(38, 59, 175);
  color: white;
  position: relative;
}

td button:first-child {
  color: rgb(36, 36, 36);
  padding: 10px;
}

td button:nth-child( 2 ) {
  color: rgb(173, 1, 1);
  padding: 10px;
}

.wallet-forms button:hover {
  background-color: rgb(57, 108, 247);
  box-shadow: none;
  top: 2px;
}

td button:first-child:hover {
  color: rgb(116, 116, 116);
}


td button:nth-child( 2 ):hover {
  color: rgb(241, 0, 0);
}

.td-buttons {
  height: 100px;
  left: 87%;
  position: absolute;
  width: 30px;
}

/* -----Header----- */
.wallet-header {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-weight: 600;
  justify-content: space-between;
  padding: 10px;
}

.wallet-email-field {
  display: flex;
  justify-content: center;
}

.wallet-email-icon {
  font-size: 30px;
  margin-right: 10px;
}

.wallet-email {
  font-size: 20px;
}

.wallet-header-btn-add {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 45px;
  height: 30px;
  left: 90%;
  order: 2;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 80px;
  width: 30px;
}

.wallet-header-btn-add svg {
  box-sizing: border-box;
  left: -8px;
  position: relative;
  top: -8px;
}

/* ---Forms--- */
.wallet-forms {
  background-color: rgb(218, 218, 218);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px rgb(116, 116, 116);
  margin-bottom: 2px;
  overflow: hidden;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.49, 0.62, 1, 0.07);
}

.edit-forms {
  background-color: rgb(252, 244, 129);
}

.wallet-forms form {
  align-content: center;
  color: rgb(59, 59, 59);
  display: flex;
  flex-flow: column wrap;
  font-size: 18px;
  font-weight: 600;
  height: 320px;
  justify-content: space-between;
  padding: 10px;
  padding-top: 5px;
}

.show-forms {
  height: 335px;
}

.hide-forms {
  height: 0;
  margin: 0;
}

