@font-face {
  font-family: Epilogue;
  src: url('./fonts/Epilogue/Epilogue-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

html body {
  background-color: rgba(241, 237, 237, 1);
  font-size: 16px;
  height: 100vh;
}
